@charset "UTF-8";

/*해상도별 공통*/
/* 상단부 로고 */
#Main_logo {
	/* background-color: gray; */
	width: 250px;
	height: 100px;
	float: left;
	/* 중앙정렬 */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5em;
}

/* 상단부 로그인 */
#Main_header_login {
 	/* background-color: brown;  */
	width: 290px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
}

/* 상단부 회원가입*/
#Main_header_signupmembership {
	/* background-color: pink; */
	width: 90px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
}

/*--------------------------- 미디어 쿼리 시작점 ---------------------------------------*/
@media only screen and (min-height:750px) {
	/* 상단부: 로고,검색,로그인 */
	#Main_header_bar {
/* 		background-color: yellow; */
		width: 100%;
		height: 100px;
	}

	/* 상단부 검색 */
	#Main_search {
/* 	 	background-color: bisque;  */
		width: calc(100% - 650px);
		height: 100px;
		float: left;
	}

	/* 메인인트로 슬라이드 */
	#Main_intro_slide {
/* 		background-color: green; */
		width: calc(100% - 400px);
		/* height: calc(100vh - 200px); */
		height: 850px;
		overflow: hidden;
		float: left;
	}

	/* 상단부 검색 박스 */
	#Search_panel {
	/* 	background-color: cadetblue; */
		width: 800px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		float: left;
	}

	/* 상단부 검색 박스 우측 빈셀 */
	#Blank_search_panel {
/* 		background-color: blue; */
		width: 100%;
		height: 100px;
	}

	/* 중단부 레시피 카테고리 메뉴 , 메인인트로, 플로팅광고 */
	#Main_center_section {
		/* background-color: green; */
		width: 100%;
		/* height: 1200px; */
	}

	/* 플로팅 광고 */
	#Main_floating_ads {
		/* background-color: orange; */
		width: 200px;
		height: 650px;
	}
	
	/* 하단부 회사주소,sns */
	#Main_bottom {
		/* background-color: red; */
		width: 100%;
		height: 100px;
		/* text-align: right;
		padding-right: 41px; */
	}
}

/* 메인인트로 사이즈 보존 */
@media only screen and (max-width:1279px) {
	/* 전체 레이아웃 */
	#Main_intro_wrap {
		width: 1280px;
		height: 650px;
		/* background: cyan; */
	}
	#Main_header_bar {
		/* background-color: yellow; */
		width: 1280px;
		height: 100px;
	}

	/* 상단부 검색 */
	#Main_search {
		/* background-color: bisque; */
		width: 650px;
		/*calc(100% - 450px);*/
		height: 100px;
		float: left;
	}

	/* 상단부 검색 박스 */
	#Search_panel {
		/* background-color: blue; */
		width: 800px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* 중단부 레시피 카테고리 메뉴 , 메인인트로, 플로팅광고 */
	#Main_center_section {
		/*background-color: green;*/
		width: 100%;
		height: calc(100vh - 200px);
	}

	/* 메인인트로 슬라이드 */
	#Main_intro_slide {
		/* background-color: rosybrown; */
		width: 800px;
		height: calc(100vh - 200px);
		overflow: visible;
		float: left;
	}

	/* 상단부 검색 박스 우측 빈셀 */
	#Blank_search_panel {
		/* background-color: blue; */
		width: calc(100vw - 1050px);
		height: 100px;
	}

	/* 플로팅 광고 */
	#Main_floating_ads {
		/*background-color: pink;*/
		width: 200px;
		height: calc(100vh - 200px);
	}
}

@media only screen and (min-width:1280px) {
	/* 상단부: 로고,검색,로그인 */
	#Main_header_bar {
		/* background-color: yellow; */
		width: 100%;
		height: 100px;
	}

	/* 상단부 검색 */
	#Main_search {
		/* background-color: bisque; */
		width: calc(100% - 650px);
		height: 100px;
		float: left;
	}

	/* 메인인트로 슬라이드 */
	#Main_intro_slide {
		/* background-color: slateblue; */
		width: calc(100% - 400px);
		height: calc(100vh - 200px);
		overflow: visible;
		float: left;
	}

	/* 중단부 레시피 카테고리 메뉴 , 메인인트로, 플로팅광고 */
	#Main_center_section {
		/*background-color: green;*/
		width: 100%;
		height: calc(100vh - 200px);
	}

	/* 상단부 검색 박스 */
	#Search_panel {
		/* background-color: cadetblue; */
		width: 800px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		float: left;
	}

	/* 상단부 검색 박스 우측 빈셀 */
	#Blank_search_panel {
		/* background-color: blue; */
		width: 100%;
		height: 100px;
	}

	/* 플로팅 광고 */
	#Main_floating_ads {
		/*background-color: pink;*/
		width: 200px;
		height: calc(100vh - 200px);
	}
}


/* 레시피 카테고리 메뉴 :한식,중식,양식,일식,기타 */
#Main_recipe_category {
	/*background-color: cyan;*/
	width: 200px;
	/* height: calc(100vh - 200px); */
	height: 650px;
	float: left;
}

/*------------------------------------------------------------------------*/
ul#Left_category_menu {
	/*background-color: white;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	/*background-color: #f1f1f1;*/
}

div#Cate_label {
	margin-top: 20px;
	text-indent: 1em;
	/*background-color: yellow;*/
	height: 45px;
	padding: 10px 0;
}

ul#Left_category_menu li a:active {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
	/*background-color: green;*/
}

ul#Left_category_menu li a, ul#Left_category_menu li a:visited {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

ul#Left_category_menu li a:hover {
	background-color: #555;
	font-weight: bold;
	color: white;
}

/*-------------------------------------------*/
#Main_intro {
	width: 800px;
	height: 500px;
	margin: auto;
	margin-top: 20px;
}

/* Make the image fully responsive */
#Main_intro .carousel-inner img {
	width: 800px;
	height: 450px;
}

/* 하단부 회사주소,sns */
#Main_bottom {
/* 	background-color: red; */
	width: 100%;
	height: 100px;
	text-align: right;
	padding-right: 41px;
}

#Main_bottom_sns-go {
	/* background-color: aqua; */
	text-align: center;
	padding: 20px 0;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Main_bottom_sns-go img {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/**************** 로그인 박스 ************************************/
/* Full-width input fields */
input[type=text][id=uname], input[type=password][id=psw] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button.Login_btn_group {
	/*background-color: gray;*/
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button.Login_btn_group:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.Login_cancelbtn {
	width: auto;
	padding: 10px 18px;
	/*background-color:blue;*/
}

/* Center the image and position the close button */
.Login_imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.Login_avatar {
	width: 40%;
	border-radius: 50%;
}

.Login_container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.Login_modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 20;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	/*background-color: rgb(0, 0, 0);*/
	/* Fallback color */
	/*background-color: rgba(0, 0, 0, 0.4);*/
	/* Black w/ opacity */
	padding-top: 0px;
}

/* Modal Content/Box */
.Login_modal-content {
	background-color: #fff;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.Login_close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.Login_close:hover, .Login_close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.Login_animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {from { -webkit-transform:scale(0)
	
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes animatezoom {from { transform:scale(0)
	
}

to {
	transform: scale(1)
}

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.Login_cancelbtn {
		width: 100%;
	}
}

/* 회원가입*/

/* 전체 회원가입 레이어/테이블 레이아웃  */
div#Signup_wrap {
	height: 700px;
	width: 100%;
	font-size: 1.2em;
	font-family: Nanum Gothic;
	overflow-y: auto;
	padding: 200px 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: brown;*/
}

div.joinFormPnl {
	width: 100%;
}

table#joinFormTbl {
	width: 100%;
}

/* 테이블의 개별 셀(cell) */
table#joinFormTbl td {
	padding: 15px;
}

/* 입력 필드 표제셀 */
/* 
			아이디가 joinFormTbl인 테이블 소속의 홀수줄(tr)의
			배경색을 #94E3F6로 적용합니다. 
		*/
table#joinFormTbl tr:nth-child(2n+1) {
	background-color: white;
}

/* 
			아이디가 joinFormTbl인 테이블 소속의 짝수줄(tr)의 
			배경색을 #94EAF6로 적용합니다. 
		*/
table#joinFormTbl tr:nth-child(2n) {
	background-color: white;
}

/* 입력 필드 표제셀 */
table#joinFormTbl td:nth-child(2n+1) {
	width: 200px;
	font-weight: bold;
	letter-spacing: 2px;
}

/* 입력 필드셀 */
/* 
			아이디가 joinFormTbl인 테이블 소속의 짝수번째의 셀(td)의 
			배경색을 #C8F3FA로 적용합니다. 
		*/
table#joinFormTbl td:nth-child(2n) {
	background-color: white;
}

/* 하단 메뉴(회원가입/취소) 테이블 */
/*
			너비 : 1000px
			길이 : 100px
			중앙정렬
			내부간격 : 상하 10px
		*/
table#joinFormMenu {
	width: 1000px;
	height: 100px;
	text-align: center;
	padding: 10px 0;
}

/* 폼필드(각종 입력 필드)들 외곽선 효과 */
/*
			외곽선 : 1px 실선 #999
			글꼴 크기 : 1.2em
			내부간격 : 5px
		*/
table#joinFormMenu input[type='text'], table#joinFormMenu input[type='password']
	{
	border: 1px solid #999;
	font-size: 1.2em;
	padding: 5px;
}

/* 입력 필드 표제 필수 항목 "*" */
table#joinFormMenu .requiredFld {
	color: red;
}

/* 회원가입/취소/주소검색 버튼  */
/*
			글꼴 크기 : 1em
			글꼴 형태 : 굵게
			글꼴색 : 흰색
			너비 : 140px
			높이 : 50px
			배경색 : #00A2E8
			외곽선색 : #60C5F1
			외곽선굵기 : 3px
			외곽선형태 : 실선
			외곽선 곡면처리 : 10px
			외부 간격 : 좌우 5px
			자간 : 2px
		*/
table#joinFormMenu input[id^=join][id$=Btn] {
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	width: 140px;
	height: 50px;
	background-color: black;
	border: 3px solid gray;
	border-radius: 10px;
	margin: 0 5px;
	letter-spacing: 2px;
	transition: all .2s ease;
}

/*  추가 : 회원가입/취소/주소검색 버튼(roll over) */
table#joinFormMenu input[id^=join][id$=Btn]:hover {
	font-size: 1em;
	font-weight: 900;
	color: #C8FAF4;
	width: 140px;
	height: 50px;
	background-color: black;
	border: 3px solid gray;
	border-radius: 10px;
	margin: 0 5px;
	letter-spacing: 2px;
}

/* 

		/* 성별 필드 : 라디오 버튼 */
/*
			https://cafe.naver.com/sggjava1/690 를 참조하여 작성하십시오.
		*/
table#joinFormMenu ul li {
	color: #000;
	display: block;
	position: relative;
	float: left;
	margin-top: -10px;
	margin-left: -35px;
	letter-spacing: 2px;
	width: 140px;
}

table#joinFormMenu ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

table#joinFormMenu ul li label {
	display: block;
	position: relative;
	font-size: 1.1em;
	padding: 0px 40px 10px 50px;
	margin-bottom: 10px;
	height: 20px;
	z-index: 9;
	cursor: pointer;
	transition: all 0.25s linear;
}

table#joinFormMenu ul li .check {
	display: block;
	position: absolute;
	border: 5px solid gray;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	top: 0px;
	left: 0px;
	z-index: 5;
	transition: border 0.25s linear;
}

table#joinFormMenu ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 5px;
	left: 5px;
	margin: auto;
	transition: background 0.25s linear;
}

table#joinFormMenu input[type=radio]:checked ~.check {
	border: 5px solid gray;
}

table#joinFormMenu input[type=radio]:checked ~.check::before {
	background: gray;
}

table#joinFormMenu input[type=radio]:checked ~label {
	color: #000;
}

/* Firefox, IE 등 브라우저 폼점검(form validation) 이후 폼 필드(field) 들의 빨간 테두리 방지 */

/* FireFox 호환용 */
:not(output):-moz-ui-invalid {
	/* box-shadow: 0 0 1.5px 1px red; */
	outline: none;
}

table#joinFormMenu input:required {
	box-shadow: none;
}

table#joinFormMenu input:invalid {
	box-shadow: none;
}

/* IE 호환용 */
table#joinFormMenu input:required:invalid {
	outline: none;
}

/* 주변 상점 식재료 현황 */
#store_link_menu {
	width:220px;
	height:70px;
/* 	background:cyan; */
	display:flex;
	align-items:center;
	justify-content:center;
	font-weight:bold;
}

#store_link {
	text-decoration:none;
	font-size:1.2em;
	color:darkblue;
}