<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.ssadagoo.project.loginSecurity.mapper.UserMapper">

	<select id="getUserByUsername" 
			resultType="Users"
			parameterType="String">
		SELECT * FROM users 
		WHERE username = #{username}
	</select>
	
	<select id="hasUsername" 
			resultType="int"
			parameterType="String">
		SELECT count(*) FROM user
		WHERE username = #{username}
	</select>
	
	<select id="getUserRolesByUsername" 
			resultType="Users"
			parameterType="String">
		SELECT * FROM user_roles 
		WHERE username = #{username}
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO member_tbl VALUES
		(#{memberId},
		 #{memberNickname},
		 #{memberName},
		 #{memberGender},
		 #{memberEmail},
		 #{memberPhone},
		 #{memberBirth},
		 #{memberZip},
		 #{memberAddressBasic},
		 #{memberAddressDetail})
	</insert>
	
	<insert id="insertUser" parameterType="Users">
		INSERT INTO users VALUES 
		(#{users.username}, #{users.password}, #{users.enabled})			
	</insert>
	
	<insert id="insertUserRoles">
		INSERT INTO user_roles VALUES 
		(user_roles_seq.nextval, #{username}, #{role})
	</insert>	
</mapper>